In [41]:
# Initial imports
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [42]:
# Load .env enviroment variables
load_dotenv()

True

In [43]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [44]:
# Format current date as ISO format
start_date = pd.Timestamp("2015-12-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-04-13", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["TSLA", "SPY"]

# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

# Get current closing prices for SPY and AGG
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df


# Reorganize the DataFrame
# Separate ticker data
TSLA = df_ticker[df_ticker['symbol']=='TSLA'].drop('symbol', axis=1)
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis=1)

In [45]:
TSLA_close = TSLA[['close']]

In [47]:
TSLA_close

                             close  daily_returns
timestamp
2015-12-01 05:00:00+00:00   237.19            NaN
2015-12-02 05:00:00+00:00   231.99      -0.021923
2015-12-03 05:00:00+00:00   232.71       0.003104
2015-12-04 05:00:00+00:00   230.38      -0.010012
2015-12-07 05:00:00+00:00   231.13       0.003255
...                            ...            ...
2022-04-07 04:00:00+00:00  1057.26       0.010997
2022-04-08 04:00:00+00:00  1025.49      -0.030049
2022-04-11 04:00:00+00:00   975.93      -0.048328
2022-04-12 04:00:00+00:00   986.95       0.011292
2022-04-13 04:00:00+00:00  1022.37       0.035888

[1604 rows x 2 columns]