In [39]:
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt

In [45]:
start = datetime.datetime(2012,1,1)
end = datetime.datetime(2022,4,17)

In [46]:
google = web.DataReader('GOOGL', 'yahoo', start, end)
tesla = web.DataReader('TSLA', 'yahoo', start, end)
spy = web.DataReader('SPY', 'yahoo', start, end)
tnx = web.DataReader('^TNX', 'yahoo', start, end)
btc = web.DataReader('BTC-CAD', 'yahoo', start, end)

In [48]:
btc.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-04-13,52047.707031,50180.906250,50698.699219,51737.113281,34801350317,51737.113281
2022-04-14,52017.171875,50046.808594,51728.929688,50364.757812,30698964473,50364.757812
2022-04-15,51237.386719,50277.656250,50369.660156,51150.082031,27441922161,51150.082031
2022-04-16,51251.261719,50550.917969,51148.636719,50987.402344,21231652969,50987.402344
2022-04-17,51144.835938,50704.554688,50973.871094,50789.265625,20185571328,50789.265625