In [9]:
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt

In [35]:
start = datetime.datetime(2012,1,1)
end = datetime.datetime(2022,1,1)

In [36]:
google = web.DataReader('GOOGL', 'yahoo', start, end)
tesla = web.DataReader('TSLA', 'yahoo', start, end)
spy = web.DataReader('SPY', 'yahoo', start, end)
tnx = web.DataReader('^TNX', 'yahoo', start, end)
btc = web.DataReader('BTC-USD', 'yahoo', start, end)

In [38]:
btc.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015
2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002
2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990
2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992
2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014